
backups/mis/processexit.py
backups/mis/testT.py
backups/mis/total_csv_test.py
BackupLog/mis/total_csv_test.py
BackupLog/mis/testT.py
BackupLog/attend2.py
BackupLog/attendance system.py
BackupLog/changes/testgui.py
BackupLog/mis/processexit.py
BackupLog/mis/attend.txt
BackupLog/face recognition.py
BackupLog/mis/attend.py
BackupLog/mis/attend1.py
BackupLog/mis/attend2.txt
BackupLog/mis/facerecog.py
BackupLog/mis/gui.py
BackupLog/mis/image rec.ipynb
